header{
   background-color: rgb(2, 17, 39);
   color:rgb(243, 248, 248);
   text-align: center;
   max-width: 800px;
   margin: 0 auto;
}
main{
   background-color: rgb(245, 241, 237);
   color: rgb(8, 40, 180);
   text-align: center;
   max-width: 800px;
   margin: 0 auto;
   border: 5px solid rgb(245, 241, 237);
   padding: 16px;
}

